NODE_ENV=development
PORT=5001

MONGODB_URI=mongodb://127.0.0.1:27017/insurance_platform
JWT_SECRET=
JWT_EXPIRES_IN=2h

FRONTEND_URL=http://localhost:3000

HTTPS_PFX_PATH=./cert/server.pfx
HTTPS_PFX_PASSPHRASE=
